/* Variables
======================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");
/* Setting Style
======================*/
*,
:focus {
  outline: 0 !important;
}

::-moz-selection {
  background-color: #a06a00 !important;
  color: #fff !important;
}

::selection {
  background-color: #a06a00 !important;
  color: #fff !important;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  font-weight: 500;
}

/* Cursor
=========================*/
.cursor {
  z-index: 9999;
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: rgba(160, 106, 0, 0.5);
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s none linear;
  transition: 0.3s none linear;
  -webkit-transition-property: background-color, width, height;
  transition-property: background-color, width, height;
}

/* Lists
======================*/
ul,
li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Links
======================*/
a,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

/*Images
======================*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Section Setting
=======================*/
.page_content {
  z-index: 998;
  position: relative;
  margin-top: 185px;
}

@media all and (max-width: 991.98px) {
  .page_content {
    margin-top: 130px;
  }
}

.h-15 {
  border: 0 !important;
  margin-bottom: 15px;
}

.pb-50 {
  padding-bottom: 50px;
}

section {
  padding: 70px 0;
  position: relative;
  background-color: #fff;
}

section.section_color {
  background-color: #f2f2f2;
}

@media all and (max-width: 767.98px) {
  section {
    padding: 25px 0;
  }
}

.section_title {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #212121;
}

.section_title h3 {
  font-weight: 700;
  margin: 0 0 10px;
  font-size: 28px;
}

.section_title p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0px;
}

@media all and (max-width: 991.98px) {
  .section_title p {
    max-width: 576px;
  }
  .svg-icon-1{
      display: none;
  }
}

@media all and (max-width: 767.98px) {
  .section_title p {
    max-width: 420px;
  }
}

@media all and (max-width: 575.98px) {
  .section_title {
    text-align: center !important;
  }
  .section_title h3 {
    font-size: 20px;
  }
  .section_title p {
    text-transform: lowercase;
    font-size: 12px;
    line-height: 20px;
  }
}

/* Page Head
====================*/
.page_head {
  text-align: start;
  background: url(../images/slider2.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 90px 0;
  position: relative;
  color: #fff;
}

.page_head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.75);
}

.page_head h3 {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 25px;
}

.page_head p {
  max-width: 768px;
  font-size: 18px;
  margin: 0 auto;
  letter-spacing: 1px;
}

@media all and (max-width: 767.98px) {
  .page_head {
    padding: 60px 0;
  }
  .page_head h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .page_head p {
    font-size: 14px;
  }
}

@media all and (max-width: 575.98px) {
  .page_head {
    padding: 30px 0;
  }
  .page_head h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .page_head p {
    font-size: 12px;
  }
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.preloader .load_cont {
  position: relative;
}

.preloader img {
  width: 290px;
  position: relative;
  z-index: 999;
  margin-top: -120px;
}

.preloader .icon {
  position: fixed;
  left: 0px;
  top: 70px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/loader.png);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-animation-name: rotateMe;
  animation-name: rotateMe;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 45px;
  text-align: center;
  font-size: 12px;
  padding: 0 20px;
  background-color: #a06a00;
  color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 2px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(0% at 50% 100%);
  clip-path: circle(0% at 50% 100%);
  background-color: #fff2;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.link i {
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
}

.link i.fa-angle-right {
  scroll-margin-inline-end: 0;
  -webkit-margin-before: 5px;
  margin-block-start: 5px;
}

.link span {
  position: relative;
  z-index: 999;
}

.link:hover {
  color: #fff;
}

.link:hover::before {
  -webkit-clip-path: circle(140% at 50% 50%);
  clip-path: circle(140% at 50% 50%);
}

.more.link {
  margin: 15px auto 0;
}

.icon_link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  padding: 0;
  background-color: #a06a00;
  color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.icon_link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(0% at 50% 100%);
  clip-path: circle(0% at 50% 100%);
  background-color: #fff2;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.icon_link i,
.icon_link::before {
  z-index: 999;
  position: relative;
}

.icon_link:hover::after {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
}

.icon_link:hover i,
.icon_link:hover::before {
  color: #fff;
}

.list {
  /* margin: 15px 0; */
}

.list li {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 14px;
  text-transform: capitalize;
}

.list li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  color: #a06a00;
}

@media all and (max-width: 575.98px) {
  .list {
    font-size: 13px;
  }
}

.form-group {
  position: relative;
  margin: 15px 0;
  text-align: start;
}

label {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: start;
  color: #453116;
}

label span {
  line-height: 30px;
  display: block;
  font-weight: 500;
}

.form-control {
  text-align: start;
  width: 100%;
  color: #453116;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 0 15px;
  line-height: 50px;
  height: 50px;
  font-size: 14px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
  border-radius: 3px;
}

.form-control:hover {
  outline: 0;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  resize: none;
  min-height: 120px !important;
  padding: 15px !important;
  line-height: 25px;
}

/* Contact
====================*/
.contact {
  text-align: start;
  padding-bottom: 0;
}

.contact .link {
  margin: 15px 0 0;
}

.contact .contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.contact .contact_item i {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #f1f1f1;
  margin-right: 15px;
}

.contact .contact_item a {
  display: inline-block;
  color: #453116;
}

.contact .contact_item a strong {
  margin-left: 5px;
}

.contact .contact_item a span {
  display: block;
  color: #a06a00;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.contact .contact_item .call_numbers span {
  display: block;
  color: #a06a00;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.contact .contact_item .call_numbers a {
  display: block;
  margin: 5px 0;
}

.contact iframe {
  margin: 50px auto -2px;
}

@media all and (max-width: 575.98px) {
  .contact .section_title {
    margin-bottom: 20px;
  }
  .contact .section_title h3 {
    font-size: 16px;
  }
}

/* Social Links */
.icon-facebook {
  background-color: #1877f2 !important;
  color: #fff !important;
}

.icon-linkedin {
  background-color: #0a66c2 !important;
  color: #fff !important;
}

.icon-instagram {
  background-color: #e4405f !important;
  color: #fff !important;
}

/* Top Header
=============================*/
.top_header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  color: #fff;
  width: 100%;
  height: 40px;
  z-index: 9998;
}

.top_header li {
  display: inline-block;
}

.top_header a {
  color: #fff;
  display: block;
  line-height: 40px;
  font-size: 13px;
  letter-spacing: 0.2px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.top_header a span.tit {
  display: none;
}

.top_header a i {
  -webkit-margin-end: 2px;
  margin-inline-end: 2px;
}

.top_header .call {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: #a06a00;
}

.top_header .call::before,
.top_header .call::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -10px;
  border: 5px solid transparent;
  border-right-color: #a06a00;
  border-top-color: #a06a00;
}

.top_header .call::after {
  left: auto;
  right: -10px;
  border: 5px solid transparent;
  border-left-color: #a06a00;
  border-top-color: #a06a00;
}

.top_header .call a {
  color: #fff;
  line-height: 50px;
  display: block;
  text-align: center;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  top: 0;
  right: 0;
  position: relative;
  z-index: 9999;
  letter-spacing: 1px;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

.top_header .call a i {
  background-color: #25d366;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 50%;
}

.top_header .call a span {
  display: inline-block;
}

@media all and (max-width: 767.98px) {
  .top_header a span {
    display: none;
  }
  .top_header a span.tit {
    display: inline-block;
  }
}

@media all and (max-width: 575.98px) {
  .top_header .call a {
    padding: 0 10px;
  }
}

/* Header
=============================*/
header {
  position: fixed;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: #fff;
  z-index: 9997;
}

header > .container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}

header .logo {
  display: block;
  height: 70px;
  margin: 0 auto 0 0;
  z-index: 999;
  padding: 0;
  position: relative;
  overflow: hidden;
}

header .logo img {
  height: 100%;
  margin: 0;
}

@media all and (max-width: 575.98px) {
  header .logo {
    padding: 10px 0;
  }
}

header .header_widget form {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-width: 520px;
}

header .header_widget form .form-group {
  margin: 0;
}

header .header_widget form .form-control {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

header .header_widget form .icon_link {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

header .header_widget .search_btn,
header .header_widget .menu-btn {
  display: none;
  vertical-align: middle;
  margin: 0;
}

.navbar {
  padding: 0;
  z-index: 0;
  margin-top: 10px;
  background-color: #212121;
}

.navbar .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar .row {
  width: 100%;
}

.navbar .row .col-12 {
  padding: 0;
}

.navbar .navbar-nav {
  text-align: center;
  margin: auto;
  z-index: 99;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.navbar .navbar-nav li {
  display: inline-block;
}

.navbar .navbar-nav li a {
  position: relative;
  display: block;
  padding: 0 15px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 2px;
}

@media all and (max-width: 1199.98px) {
  .navbar .navbar-nav li a {
    padding: 0 12px;
  }
}

.navbar .navbar-nav li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(0% at 50% 100%);
  clip-path: circle(0% at 50% 100%);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-radius: 3px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.navbar .navbar-nav li a:hover {
  color: #fff;
}

.navbar .navbar-nav li a:hover::before {
  -webkit-clip-path: circle(140% at 50% 50%);
  clip-path: circle(140% at 50% 50%);
}

.navbar .navbar-nav li.active > a {
  background-color: #a06a00;
  color: #fff;
}

.navbar .navbar-nav li.active > a:hover {
  color: #fff;
}

.navbar .dropdown .main_serv {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0;
  color: #a06a00;
}

@media all and (min-width: 992px) {
  ul li.dropdown {
    position: unset;
  }
  ul li.dropdown .dropdown-menu {
    display: block;
    right: auto;
    left: 0;
    margin: 0;
    top: 55px;
    width: 100%;
    min-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    -webkit-transform-origin: top;
    transform-origin: top;
    border-radius: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
  }
  ul li.dropdown .dropdown-menu .row {
    margin: 0;
    padding: 5px;
  }
  ul li.dropdown .dropdown-menu a {
    display: inline-block;
    margin: 0 0 5px;
    line-height: 22px;
    padding: 0 0 0 15px;
    text-align: start;
    color: #212121;
    letter-spacing: 0;
    white-space: normal;
    text-transform: capitalize;
    font-size: 13px;
  }
  ul li.dropdown .dropdown-menu a::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 15px;
    color: #a06a00;
  }
  ul li.dropdown .dropdown-menu a:hover {
    color: #a06a00;
    background-color: transparent;
  }
  ul li.dropdown .dropdown-menu a:last-child {
    border-bottom: 0;
  }
  ul li.dropdown:hover::after {
    content: "";
    position: absolute;
    bottom: -18px;
    border: 10px solid transparent;
    border-top-color: #212121;
    z-index: 9999;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  ul li.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: 0px 1px 10px 0px #ddd4;
    -o-box-shadow: 0px 1px 10px 0px #ddd4;
    box-shadow: 0px 1px 10px 0px #ddd4;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@media all and (max-width: 991.98px) {
  header .header_widget form {
    min-width: 390px;
  }
  header .header_widget .menu-btn {
    display: inline-block;
  }
  .navbar {
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
  }
  .navbar .navbar-collapse {
    position: relative;
    width: 100%;
  }
  .navbar .navbar-nav {
    display: block;
    width: 100%;
  }
  .navbar .navbar-nav li {
    display: block;
  }
  .navbar .navbar-nav li a {
    text-align: start;
  }
  .navbar .navbar-nav li a::before {
    display: none;
  }
  .navbar .navbar-nav li a:hover {
    color: #a06a00;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    position: static;
    clear: both;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    border-radius: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu .main_serv {
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu a {
    line-height: 20px;
    white-space: normal;
    padding: 5px 0;
    letter-spacing: 0.1px;
    text-transform: inherit;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu a:hover {
    background-color: transparent;
  }
  .navbar .navbar-nav .dropdown.show .dropdown-menu {
    display: block;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.06);
  }
}

@media all and (max-width: 767.98px) {
  header .header_widget form {
    min-width: 250px;
  }
}

@media all and (max-width: 575.98px) {
  header .header_widget .search_btn {
    display: inline-block;
  }
  header .header_widget form {
    min-width: auto;
    position: unset;
    display: none;
    position: fixed;
    top: 130px;
    width: 100%;
    right: 0;
  }
  header .header_widget form .form-control {
    border-radius: 0;
    background-color: #212121;
    border: 0;
    color: #fff;
  }
  .navbar .navbar-nav {
    padding: 10px;
  }
}

footer {
  position: relative;
  background-color: #212121;
  color: #fff;
  z-index: 998;
  text-align: start;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.015;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='1' stroke='hsla(259, 0%, 100%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

footer .item {
  padding: 30px 0 0;
}

footer .item.white {
  background-color: #fff;
  padding: 45px 15px 15px;
  margin-top: -40px;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 -5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 -5px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -5px 20px 0px rgba(0, 0, 0, 0.15);
}

footer .item.white .row {
  width: 100%;
}

footer .logo {
  position: relative;
  margin: 0;
  display: block;
}

footer .logo img {
  max-width: 290px;
  margin: 0;
}

footer .social {
  margin: 0;
}

footer .social li {
  display: inline-block;
}

footer .social li .icon_link {
  margin-bottom: 5px;
}

footer h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a06a00;
}

footer .quick_links {
  margin-bottom: 25px;
}

footer .quick_links a {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: 1px;
  position: relative;
  padding-left: 15px;
  -webkit-transition: 0.3s transform linear;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

footer .quick_links a::before {
  content: "\f105";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

footer .quick_links a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: #a06a00;
}

footer form {
  margin: 25px 0 25px;
  text-align: start;
}

footer form label {
  font-weight: 700;
  font-size: 15px;
  margin: 0 0 15px;
  letter-spacing: 1px;
}

footer form .form-group {
  margin: 0;
}

footer form .form-group .link {
  margin: 15px 0 0;
}

footer .contact_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

footer .contact_info li i {
  display: inline-block;
  background-color: #fff1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px;
}

footer .contact_info li a {
  display: block;
  line-height: 22px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

footer .contact_info li a span {
  display: block;
}

footer .contact_info li a span:nth-child(1) {
  color: #a06a00;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

footer .copyright {
  color: #fff7;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media all and (max-width: 991.98px) {
  footer .item.white {
    padding: 25px 15px;
  }
  footer .item.white .row {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  footer form {
    margin-bottom: 0;
  }
  footer form .link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media all and (max-width: 767.98px) {
  footer form {
    margin: 25px auto;
  }
  footer .quick_links {
    margin-bottom: 0;
  }
}

@media all and (max-width: 575.98px) {
  footer form .link {
    position: relative;
    margin: 15px 0 0;
  }
}

/* Up Button
====================*/
.up_btn {
  opacity: 0;
  position: fixed;
  bottom: 45px;
  right: 15px;
  margin: auto;
  z-index: 9998;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.up_btn.show {
  opacity: 1;
  bottom: 15px;
}

/* Main Sec
======================*/
.main_section {
  padding: 0 !important;
}

@media all and (min-width: 1200px) {
  .main_section {
    height: calc(100vh - 185px);
  }
  .main_section .carousel,
  .main_section .carousel-item,
  .main_section .carousel-inner {
    height: 100%;
  }
  .main_section .carousel img,
  .main_section .carousel-item img,
  .main_section .carousel-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
}

.main_section .look_cont {
  position: absolute;
  background-color: rgba(33, 33, 33, 0.65);
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_section .look_cont h3 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 26px;
  max-width: 940px;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
}

.main_section .look_cont .link {
  margin: 25px auto 0;
}

.main_section .carousel-indicators {
  right: 0;
  left: 0;
  margin: auto;
  bottom: 80px;
  padding: 0;
}

.main_section .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: 1;
  border: 0;
  background-color: #fff;
  border-radius: 25px;
  -webkit-transition: 0.3s width linear;
  transition: 0.3s width linear;
}

.main_section .carousel-indicators li.active {
  width: 25px;
  background-color: #a06a00;
}

.main_section .carousel-control-next,
.main_section .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  left: auto;
  opacity: 1;
}

.main_section .carousel-control-prev {
  left: 25px;
  right: auto;
}

@media all and (max-width: 1199.98px) {
  .main_section .look_cont h3 {
    max-width: 740px;
    letter-spacing: 0px;
    font-size: 24px;
  }
}

@media all and (max-width: 991.98px) {
  .main_section .look_cont h3 {
    max-width: 540px;
    font-size: 22px;
    line-height: 30px;
  }
}

@media all and (max-width: 767.98px) {
  .main_section .look_cont {
    padding: 0 25px;
  }
  .main_section .look_cont h3 {
    font-size: 18px;
  }
  .main_section .look_cont .link {
    margin: 10px auto;
    font-size: 12px;
    padding: 0 15px;
    line-height: 50px;
  }
  .main_section .carousel-indicators {
    bottom: 60px;
  }
  .main_section .carousel-control-next,
  .main_section .carousel-control-prev {
    display: none;
  }
}

@media all and (max-width: 575.98px) {
  .main_section .carousel-indicators {
    bottom: 10px;
  }
  .main_section .look_cont {
    position: relative;
    padding: 15px 10px 25px;
    background-color: #453116;
    min-height: 166px;
  }
  .main_section .look_cont h3 {
    line-height: 22px;
    font-size: 12px;
    font-weight: 500;
  }
  .main_section .look_cont .link {
    font-size: 11px;
    padding: 0 10px;
    line-height: 40px;
  }
}

.about .overlap {
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  padding: 50px 25px;
  text-transform: uppercase;
  color: #212121;
  margin: -120px auto 70px;
  z-index: 9998;
  max-width: 768px;
  border-radius: 3px;
  border: solid #a06a00;
  border-width: 3px 0;
}
.about .overlap::before,
.about .overlap::after{
  content: "";
  position: absolute;
  top: -3px;
  width: 3px;
  height: 29%;
  background-color: #a06a00;
  right: -2px;
  border-radius: 0 3px 3px 0;
}
.about .overlap::after{
  right: auto;
  left: -2px;
  border-radius: 3px 0 0 3px;
}

.about .overlap h1 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-weight: 700;
}

.about .overlap h3 {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media all and (max-width: 767.98px) {
  .about .overlap {
    padding: 25px;
    margin: -70px auto 35px;
  }
  .about .overlap h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media all and (max-width: 575.98px) {
  .about .overlap {
    max-width: 90%;
    padding: 15px;
    margin: 0px auto 35px;
  }
  .about .overlap h1 {
    font-size: 14px;
  }
  .about .overlap{
    border-width: 2px 0;
  }
  .about .overlap::before,
.about .overlap::after{
  display: none
}
}

.about_content.vm {
  background-color: #f9f9f9;
  padding: 25px;
  margin: 25px auto;
}

.about_content h3 {
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 22px;
  line-height: 35px;
  text-transform: uppercase;
  color: #a06a00;
}

.about_content h4 {
  font-weight: 700;
  margin: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #a06a00;
}

.about_content p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.about_content .exp {
  border-left: 10px solid #a06a00;
  padding: 25px;
  display: inline-block;
  background-color: #fcfcfc;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.about_content .exp b {
  font-size: 68px;
  line-height: 40px;
  display: inline-block;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  letter-spacing: 4px;
}

.about_content .exp p {
  display: inline-block;
  margin: 0;
  letter-spacing: 2px;
}

.about_content .exp p span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 5px;
}

.about_content .link {
  margin: 15px 5px 0 0;
}

.about_content .link.black {
  background-color: #212121;
}

@media all and (max-width: 1199.98px) {
  .about_content p {
    font-size: 13px;
    margin: 0 0 10px;
  }
}

@media all and (max-width: 767.98px) {
  .about_content h3 {
    font-size: 16px;
    line-height: 25px;
  }
}

@media all and (max-width: 575.98px) {
  .about_content .exp {
    margin-bottom: 25px;
  }
  .about_content .exp b {
    font-size: 52px;
  }
  .about_content .exp p {
    letter-spacing: 0;
  }
  .about_content h3 {
    font-size: 14px;
    line-height: 22px;
  }
  .about_content p {
    line-height: 20px;
    font-size: 12px;
  }
  .about_content .link {
    margin: 15px 0 0 0;
    padding: 0 6px;
    font-size: 11px;
  }
}

.about_img {
  position: relative;
  margin-bottom: 55px;
}

.about_img img {
  width: 100%;
  -webkit-box-shadow: -20px -20px 0px 0px #a06a00;
  -o-box-shadow: -20px -20px 0px 0px #a06a00;
  box-shadow: -20px -20px 0px 0px #a06a00;
}

.about_img .hint {
  position: absolute;
  background-color: #212121;
  color: #fff;
  padding: 25px;
  font-style: italic;
  text-transform: lowercase;
  margin: auto;
  z-index: 999;
  width: 95%;
  bottom: -30px;
  left: 0;
  right: 0;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
}

.about_img .hint span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media all and (max-width: 767.98px) {
  .about_img img {
    -webkit-box-shadow: -5px -5px 0px 0px #a06a00;
    -o-box-shadow: -5px -5px 0px 0px #a06a00;
    box-shadow: -5px -5px 0px 0px #a06a00;
  }
}

@media all and (max-width: 575.98px) {
  .about_img {
    margin-bottom: 15px;
  }
  .about_img .hint {
    position: relative;
    bottom: auto;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .about_img .hint span {
    font-size: 14px;
  }
}

.features {
  background: url(../images/slider1.jpg) center fixed no-repeat;
  background-size: cover;
}

.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.8);
}

.features .section_title {
  color: #fff;
  margin-bottom: 50px;
}

.features form {
  background-color: #fff;
  padding: 25px 25px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.features form .form_title {
  color: #a06a00;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

@media all and (max-width: 575.98px) {
  .features {
    padding: 40px 0;
  }
  .features form {
    padding: 15px 15px 10px;
  }
}

.feature_item {
  color: #fff;
  margin-bottom: 30px;
  text-align: start;
}

.feature_item img {
  width: 75px;
  height: 75px;
  margin: 0 0 15px;
  background-color: #a06a00;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: 0.4s transform linear;
  -webkit-transition: 0.4s -webkit-transform linear;
  transition: 0.4s -webkit-transform linear;
  transition: 0.4s transform linear;
  transition: 0.4s transform linear, 0.4s -webkit-transform linear;
}

.feature_item h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  padding-left: 10px;
}

.feature_item p {
  font-size: 13px;
  letter-spacing: 0;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 10px;
}

.feature_item:hover img {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media all and (max-width: 991.98px) {
  .feature_item {
    text-align: center;
  }
  .feature_item h3 {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0;
  }
  .feature_item img {
    margin: 0 auto 15px;
  }
}

.core_img {
  margin-bottom: 40px;
}

.accordion {
  position: relative;
  margin: 20px auto;
}

.panel {
  position: relative;
  margin-bottom: 15px;
  text-align: start;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.panel .panel-title {
  position: relative;
  line-height: 25px;
  padding: 15px;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  background-color: #f1f1f1;
  color: #a06a00;
  font-weight: 700;
}

.panel .panel-title::before {
  position: absolute;
  content: "-";
  line-height: 55px;
  font-size: 18px;
  padding: 0;
  right: 15px;
  top: 0;
  color: #a06a00;
}

.panel .panel-title.collapsed {
  color: #212121;
}

.panel .panel-title.collapsed::before {
  content: "+";
  color: #453116;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.panel .panel-collapse {
  width: 100%;
  padding: 15px;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.panel .panel-collapse p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin: 0;
}

.service_item {
  position: relative;
  height: 290px;
  margin: 15px auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  -webkit-transition: 0.3s box-shadow linear;
  -webkit-transition: 0.3s -webkit-box-shadow linear;
  transition: 0.3s -webkit-box-shadow linear;
  transition: 0.3s box-shadow linear;
  transition: 0.3s box-shadow linear, 0.3s -webkit-box-shadow linear;
}

.service_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.3s transform linear;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

.service_item a {
  position: relative;
  background-color: rgba(33, 33, 33, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.65);
  padding: 15px;
  margin: auto;
  width: 90%;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
}

.service_item:hover {
  -webkit-box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.05);
}

.service_item:hover img {
  -webkit-transform: scale(1.05) rotate(3deg);
  transform: scale(1.05) rotate(3deg);
}

@media all and (max-width: 767.98px) {
  .service_item {
    height: 270px;
  }
}

@media all and (max-width: 575.98px) {
  .services_slider .service_item {
    margin: auto;
  }
}

.service h3 {
  font-weight: 700;
  margin: 0 0 25px;
  font-size: 26px;
  text-transform: uppercase;
  color: #a06a00;
  letter-spacing: 2px;
}

.service h4 {
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 1px;
}

.service p {
  font-size: 14px;
  margin: 15px auto;
}

.service a.inner_gall {
  display: block;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 15px;
}

.service .service_content {
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto 25px;
  top: 140px;
}

.service .service_content h3 {
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #212121;
}

.service .service_content p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.services_list {
  text-align: start;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.services_list h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-left: 5px solid #a06a00;
  color: #a06a00;
  letter-spacing: 1px;
}

.services_list a {
  display: block;
  position: relative;
  line-height: 25px;
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;
  color: #212121;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 25px;
}

.services_list a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 45px;
  color: #a06a00;
}

.services_list a.active {
  color: #a06a00;
}

.services_list .link {
  color: #fff;
}

.project_item {
  display: block;
  margin: 15px auto;
  border-radius: 3px;
  overflow: hidden;
}

.project_item .cover {
  position: relative;
  height: 290px;
  width: 100%;
  overflow: hidden;
}

.project_item .cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.3s transform linear;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
  transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}

.project_item .cover .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 25px;
  font-size: 14px;
  color: #fff;
  background-color: #a06a00;
  bottom: -100%;
  left: 0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.project_item .cover .desc span {
  opacity: 0;
  visibility: hidden;
  display: block;
  margin-bottom: 15px;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.project_item .cover .desc p {
  opacity: 0;
  visibility: hidden;
  top: 25px;
  margin: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.project_item .cont {
  background-color: #fff;
  padding: 20px 15px;
}

.project_item .cont h3 {
  display: block;
  color: #a06a00;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.project_item .cont p {
  margin: 8px 0 0;
  font-size: 12px;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 0.5px;
  color: #212121;
}

.project_item .cont p i {
  -webkit-margin-end: 3px;
  margin-inline-end: 3px;
}

.project_item:hover .cover img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.project_item:hover .cover .desc {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.project_item:hover .cover .desc span {
  top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.project_item:hover .cover .desc p {
  top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

@media all and (max-width: 575.98px) {
  .projects_slider .project_item {
    margin: auto;
  }
}

.project .container .row {
  margin-top: 30px;
}

.project .container .row:nth-child(1) {
  margin-top: 0;
}

@media all and (max-width: 767.98px) {
  .project .container .row {
    margin: 0;
  }
}

.project h3 {
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #a06a00;
  letter-spacing: 2px;
}

.project p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.project p.hint {
  background-color: #f1f1f1;
  padding: 15px;
  border-left: 5px solid #a06a00;
  margin: 25px auto;
}

.project .poject_serv {
  background-color: #f1f1f1;
  padding: 20px 25px 10px;
  margin-bottom: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.project .poject_serv img {
  margin-bottom: 20px;
}

.project .poject_serv h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0 0 15px;
}

.project .poject_serv h4 {
  font-weight: 700;
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #a06a00;
  letter-spacing: 1px;
}

.project .poject_serv p {
  font-size: 13px;
  line-height: 20px;
}

.project .inner_gall {
  display: block;
  margin: 0 0 25px;
  background-color: #f1f1f1;
  padding: 5px;
  width: 100%;
}

.project iframe {
  margin-bottom: 25px;
}

@media all and (max-width: 575.98px) {
  .project h3 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  .project p {
    font-size: 13px;
    line-height: 22px;
  }
  .project list li {
    font-size: 13px;
  }
  .project .poject_serv {
    padding: 15px 15px 5px;
  }
}

.project_slider {
  margin: 0;
  height: 490px;
  overflow: hidden;
}

.project_slider .carousel-inner,
.project_slider .carousel-item {
  height: 100%;
  width: 100%;
}

.project_slider img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.project_slider .carousel-control-next {
  right: 15px;
}

.project_slider .carousel-control-prev {
  left: 15px;
}

.project_slider .carousel-item a i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  z-index: 99;
  background-color: rgba(160, 106, 0, 0.75);
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
}

@media all and (max-width: 767.98px) {
  .project_slider {
    height: auto;
  }
  .project_slider .carousel-inner,
  .project_slider .carousel-item {
    height: auto;
  }
  .project_slider img {
    position: relative;
    height: auto;
  }
  .project_slider .carousel-control-next,
  .project_slider .carousel-control-prev {
    display: block;
  }
}

@media all and (max-width: 575.98px) {
  .project_slider {
    height: 290px;
    overflow: hidden;
  }
  .project_slider .carousel-inner,
  .project_slider .carousel-item {
    height: 100%;
    width: 100%;
  }
  .project_slider img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .project_slider .carousel-control-next,
  .project_slider .carousel-control-prev {
    display: none;
  }
}

.clients {
  padding-bottom: 140px;
}

@media all and (max-width: 575.98px) {
  .clients {
    padding-bottom: 70px;
  }
}

.clients .clients_slider .client_item {
  margin: auto;
}

.clients .client_item {
  cursor: pointer;
  margin: 25px auto;
}

.certify {
  display: block;
  margin: 25px auto;
}

.job_features {
  color: #212121;
}

.job_features .feat_item {
  margin-bottom: 25px;
  position: relative;
}

.job_features .feat_item h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: -5px;
}

.job_features .feat_item h3 i {
  font-weight: 400;
  margin-right: 15px;
}

.job_features .feat_item p {
  margin: 0;
  color: #212121;
  position: relative;
  padding-left: 25px;
  border-left: 1px dashed #a06a00;
}

.job_item {
  margin-top: 25px;
  border: 1px solid #f1f1f1;
  padding: 25px;
  background-color: #fff;
}

.job_item h3 {
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.job_item p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.job_item a {
  margin-top: 10px;
  display: inline-block;
  color: #a06a00;
  text-transform: uppercase;
  font-size: 13px;
}

.job_form {
  padding: 25px;
  background-color: #f5f5f5;
  margin: 25px 0;
  max-width: 430px;
  overflow: hidden;
}

@media all and (max-width: 575.98px) {
  .job_form {
    padding: 15px;
    margin-bottom: 40px;
  }
}

.job_form .link {
  margin: 0;
}

.job_form .form_title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.job_form .form-group {
  margin: 15px 1px;
}
/*# sourceMappingURL=style.css.map */
.service h4.colored {
    color: #a06a00;
    font-size: 22px;
}

.inner_gall {
    display: block;
    margin: 0 0 25px;
    background-color: #f1f1f1;
    padding: 5px;
    width: 100%;
}
.project_info {
  margin: 25px 0;
  border: 1px solid #f1f1f1;
  padding: 25px;
  background-color: #fefefe;
}
.project_info li {
    font-size: 14px;
    display: block;
    padding-left: 45px;
    margin: 15px auto;
}
.project_info li span {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 0 5px;
    color: #a06a00;
}
.project_info p {
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    margin-inline-end: 25px;
    font-size: 15px;
    min-width: 140px;
}
.project_info i {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 12px;
    display: inline-block;
    background-color: #f1f1f1;
    line-height: 30px !important;
    @include bord_rad(50%);
}
