.about {
  .overlap {
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
    padding: 50px 25px;
    text-transform: uppercase;
    color: $black_color;
    margin: -120px auto 70px;
    z-index: 9998;
    max-width: 768px;
    @include bord_rad(3px);
    border: solid $main_color;
    border-width: 3px 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -3px;
      width: 3px;
      height: 29%;
      background-color: $main_color;
      right: -2px;
      @include bord_rad(0 3px 3px 0);
    }
    &::after {
      right: auto;
      left: -2px;
      @include bord_rad(3px 0 0 3px);
    }
    h1 {
      font-size: 24px;
      letter-spacing: 1px;
      margin-bottom: 25px;
      font-weight: $font-weight_bod;
    }

    h3 {
      margin: 0;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: lowercase;
    }
    @media all and (max-width: 767.98px) {
      padding: 25px;
      margin: -70px auto 35px;
      h1 {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    @media all and (max-width: 575.98px) {
      max-width: 90%;
      padding: 15px;
      margin: 0px auto 35px;
      border-width: 2px 0;
      h1 {
        font-size: 14px;
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
.about_content {
  &.vm {
    background-color: #f9f9f9;
    padding: 25px;
    margin: 25px auto;
  }
  h3 {
    font-weight: $font_weight_bod;
    margin: 0 0 15px;
    font-size: 22px;
    line-height: 35px;
    text-transform: uppercase;
    color: $main_color;
  }
  h4 {
    font-weight: $font_weight_bod;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: $main_color;
  }
  p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
  .exp {
    border-left: 10px solid $main_color;
    padding: 25px;
    display: inline-block;
    background-color: #fcfcfc;
    text-transform: uppercase;
    font-weight: $font-weight_bod;
    margin-bottom: 25px;
    letter-spacing: 1px;
    b {
      font-size: 68px;
      line-height: 40px;
      display: inline-block;
      margin-inline-end: 10px;
      letter-spacing: 4px;
    }
    p {
      display: inline-block;
      margin: 0;
      letter-spacing: 2px;
      span {
        display: block;
        font-weight: $font_weight_reg;
        font-size: 12px;
        letter-spacing: 5px;
      }
    }
  }
  .link {
    margin: 15px 5px 0 0;
    &.black {
      background-color: $black_color;
    }
  }

  @include mediaquery_max($l_desktop) {
    p {
      font-size: 13px;
      margin: 0 0 10px;
    }
  }
  @include mediaquery_max($tablet) {
    h3 {
      font-size: 16px;
      line-height: 25px;
    }
  }
  @include mediaquery_max($mobile) {
    .exp {
      margin-bottom: 25px;
      b {
        font-size: 52px;
      }
      p {
        letter-spacing: 0;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 22px;
    }
    p {
      line-height: 20px;
      font-size: 12px;
    }
    .link {
      margin: 15px 0 0 0;
      padding: 0 6px;
      font-size: 11px;
    }
  }
}
.about_img {
  position: relative;
  margin-bottom: 55px;
  img {
    width: 100%;
    @include box_sh(-20px, -20px, 0px, 0px, $main_color);
  }
  .hint {
    position: absolute;
    background-color: $black_color;
    color: #fff;
    padding: 25px;
    font-style: italic;
    text-transform: lowercase;
    margin: auto;
    z-index: 999;
    width: 95%;
    bottom: -30px;
    left: 0;
    right: 0;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 1px;
    span {
      font-size: 16px;
      font-weight: $font-weight_bod;
      text-transform: uppercase;
    }
  }
  @include mediaquery_max($tablet) {
    img {
      @include box_sh(-5px, -5px, 0px, 0px, $main_color);
    }
  }
  @include mediaquery_max($mobile) {
    margin-bottom: 15px;
    .hint {
      position: relative;
      bottom: auto;
      padding: 10px;
      width: 100%;
      font-size: 12px;
      letter-spacing: 0.5px;
      span {
        font-size: 14px;
      }
    }
  }
}
.features {
  background: url(../../../assets/images/slider1.jpg) center fixed no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black_color, 0.8);
  }
  .section_title {
    color: #fff;
    margin-bottom: 50px;
  }
  form {
    background-color: #fff;
    padding: 25px 25px 10px;
    @include bord_rad(5px);
    overflow: hidden;
    .form_title {
      color: $main_color;
      text-transform: uppercase;
      font-weight: $font_weight_bod;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
  }
  @include mediaquery_max($mobile) {
    padding: 40px 0;
    form {
      padding: 15px 15px 10px;
    }
  }
}
.feature_item {
  color: #fff;
  margin-bottom: 30px;
  text-align: start;
  img {
    width: 75px;
    height: 75px;
    margin: 0 0 15px;
    background-color: $main_color;
    @include bord_rad(50%);
    padding: 10px;
    
    cursor: pointer;
    @include transition(0.4s, transform, linear);
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: $font_weight_bod;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 10px;
    display: inline-block;
  }
  p {
    font-size: 13px;
    letter-spacing: 0;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 10px;
  }
  &:hover {
    img {
      @include transform(rotate(45deg));
    }
  }
  @include mediaquery_max($desktop) {
    text-align: center;
    h3 {
      font-size: 13px;
      letter-spacing: 1px;
      padding: 0;
    }
    img {
      margin: 0 auto 15px;
    }
  }
}
.core_img {
  margin-bottom: 40px;
}
.accordion {
  position: relative;
  margin: 20px auto;
}
.panel {
  position: relative;
  margin-bottom: 15px;
  text-align: start;
  @include transition(0.3s, linear, all);
  .panel-title {
    position: relative;
    line-height: 25px;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: #f1f1f1;
    color: $main_color;
    font-weight: $font-weight_bod;
    &::before {
      position: absolute;
      content: "-";
      line-height: 55px;
      font-size: 18px;
      padding: 0;
      right: 15px;
      top: 0;
      color: $main_color;
    }
    &.collapsed {
      color: $black_color;
      &::before {
        content: "+";
        color: $second_color;
        @include transform(rotate(0deg));
      }
    }
  }
  .panel-collapse {
    width: 100%;
    padding: 15px;
    border: 1px solid #f1f1f1;
    @include transition(0.3s, linear, all);
    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.2px;
      margin: 0;
    }
  }
}


.bs-popover-auto[x-placement^="bottom"] > .arrow::after,
.bs-popover-bottom > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}
.popover-body {
  padding: 15px;
 @include bord_rad(5px);
  font-size: 16px;
  color: $black_color;
  background-color: #fff;
  letter-spacing: 0.5px;
}
.popover-header {
  padding: 15px;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #fff;
  color: $main_color;
}