
$breakpoint: l_desktop desktop tablet mobile sm_mobile;
@each $point, $device in (l_desktop, $l_desktop), (desktop, $desktop),
  (tablet, $tablet), (mobile, $mobile), (sm_mobile, $sm_mobile)
{
}

@mixin mediaquery_max($device) {
  @media all and (max-width: $device) {
    @content;
  }
}
@mixin mediaquery_min($device) {
  @media all and (min-width: $device) {
    @content;
  }
}

@mixin transition($time, $property, $timing-fun) {
  -webkit-transition: $time $property $timing-fun;
  -moz-transition: $time $property $timing-fun;
  -o-transition: $time $property $timing-fun;
  transition: $time $property $timing-fun;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin bord_rad($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad;
}
@mixin box-sh($x, $y, $blur, $spd, $color) {
  -webkit-box-shadow: $x $y $blur $spd $color;
  -moz-box-shadow: $x $y $blur $spd $color;
  -o-box-shadow: $x $y $blur $spd $color;
  box-shadow: $x $y $blur $spd $color;
}
