.service_item {
  position: relative;
  height: 290px;
  margin: 15px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bord_rad(3px);
  @include transition(0.3s, box-shadow, linear);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @include transition(0.3s, transform, linear);
  }
  a {
    position: relative;
    background-color: rgba(33, 33, 33, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.65);
    padding: 15px;
    margin: auto;
    width: 90%;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: $font-weight_bod;
    text-align: center;
    @include bord_rad(3px);
  }

  &:hover {
    @include box_sh(0, 0.3rem, 0.8rem, 0, rgba(0, 0, 0, 0.05));
    img {
      @include transform(scale(1.05) rotate(3deg));
    }
  }
  @include mediaquery_max($tablet) {
    height: 270px;
  }
}
@include mediaquery_max($mobile) {
  .services_slider .service_item {
    margin: auto;
  }
}
.service {
  h3 {
    font-weight: $font_weight_bod;
    margin: 0 0 25px;
    font-size: 26px;
    text-transform: uppercase;
    color: $main_color;
    letter-spacing: 2px;
  }
  h4 {
    font-weight: $font_weight_bod;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: $black_color;
    letter-spacing: 1px;
    &.colored{
      color: $main_color;
      font-size: 22px;
    }
  }
  p {
    font-size: 14px;
    margin: 15px auto;
    line-height: 25px;
  }
  a.inner_gall {
    display: block;
    border: 5px solid #f1f1f1;
    @include bord_rad(3px);
    overflow: hidden;
    margin-bottom: 15px;
  }
  .service_content {
    position: sticky;
    margin: 0 auto 25px;
    top: 140px;
    h3 {
      font-weight: $font_weight_bod;
      margin: 0 0 15px;
      font-size: 18px;
      text-transform: uppercase;
      color: $black_color;
    }
    p {
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.5px;
    }
  }
}
.services_list {
  text-align: start;
  position: sticky;
  top: 200px;
  h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: $font-weight_bod;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-left: 5px solid $main_color;
    color: $main_color;
    letter-spacing: 1px;
  }
  a {
    display: block;
    position: relative;
    line-height: 25px;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    overflow: hidden;
    color: $black_color;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 25px;
    &::before {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      line-height: 45px;
      color: $main_color;
    }
    &.active {
      color: $main_color;
    }
  }
  .link {
    color: #fff;
  }
}
